# MoonBit build artifacts
_build/
.mooncakes/

# Editor / IDE
.idea/
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Local env / temp
*.log
*.tmp
*.bak

# Dev Documentations
docs/dev/*
